@import "../../global/global.scss";

@media only screen and (max-width: 1536px) {
    .login-container {
        display: flex;
        position: relative;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        font-family: $main-font;

        .loading {
            z-index: 1;
            background: rgba(0, 0, 0, .7);
            width: 100vw;
            height: 100vh;
            position: fixed;
            left: 0;
            top: 0;
            align-items: center;
            display: flex;
            justify-content: center;
        }

        .banner {
            width: 50%;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .login {
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 40px;
            row-gap: 30px;

            .header {
                display: flex;
                flex-direction: column;
                align-items: center;
                row-gap: 10px;

                img {
                    width: 60px;
                    height: 60px;
                    object-fit: cover;
                    border-radius: 50%;
                }

                strong {
                    font-size: 1.1rem;
                }
            }

            .login-form {
                display: flex;
                flex-direction: column;

                .input-item {
                    width: 400px;
                    display: flex;
                    flex-direction: column;
                    row-gap: 10px;

                    label {
                        margin-left: 5px;
                        font-size: 0.8rem;
                    }

                    input {
                        padding: 12px 20px;
                        font-family: $main-font;
                        background: #F0F0F0;
                        border-radius: 15px;
                        border: 1px solid transparent;
                        transition: .4s;
                    }

                    input:focus {
                        border-color: black;
                    }
                }

                .input-item:nth-child(1) {
                    margin-bottom: 25px;
                }

                .forget {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    p {
                        margin-left: 5px;
                        cursor: pointer;
                        margin-top: 10px;
                        font-size: 0.7rem;

                    }

                    a {
                        text-align: end;
                        margin-left: 5px;
                        margin-top: 10px;
                        font-size: 0.7rem;
                        transition: .1s;
                    }

                    a:hover {
                        text-decoration: underline;
                    }
                }



                button {
                    cursor: pointer;
                    margin-top: 20px;
                    padding: 12px 0;
                    background: black;
                    color: white;
                    border-radius: 15px;
                    font-family: $main-font;
                    font-weight: 600;
                }
            }

            .or {
                width: 400px;
                position: relative;
                border-bottom: 1px solid rgba(0, 0, 0, .8);

                p {
                    position: absolute;
                    padding: 15px;
                    font-size: 0.8rem;
                    color: rgba(0, 0, 0, .7);
                    font-weight: 400;
                    left: 45%;
                    top: -23px;
                    background: #F8F8F8;
                }
            }

            .oauth {
                cursor: pointer;
                width: 400px;
                display: flex;
                align-items: center;
                padding: 10px 20px;
                justify-content: center;
                border: 1px solid black;
                column-gap: 10px;
                border-radius: 15px;

                i {
                    font-size: 18px;
                }

                p {
                    font-size: 0.85rem;
                    font-weight: 600;
                }
            }

            .signup {
                display: flex;
                align-items: center;
                justify-content: center;
                column-gap: 3px;

                p {
                    font-size: 0.7rem;
                }

                a {
                    font-size: 0.7rem;
                }

                a:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}