* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

input,
button,
textarea,
select {
  border: none;
  background: none;
  outline: none;
}

a {
  color: black;
  text-decoration: none;
}

@media only screen and (max-width: 1536px) {
  .advance-navbar-close {
    display: none;
  }
  .advance-navbar-container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9;
    padding: 0 60px;
    font-family: "Lora", serif;
  }
  .advance-navbar-container .open {
    top: 0;
    opacity: 1;
  }
  .advance-navbar-container .close {
    opacity: 0;
    top: -500px;
  }
  .advance-navbar-container .advance-navbar {
    z-index: 10;
    position: absolute;
    margin-top: 105px;
    width: calc(100% - 120px);
    background: rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 60px 40px;
    row-gap: 40px;
    transition: 0.8s;
  }
  .advance-navbar-container .advance-navbar .bxs-up-arrow {
    position: absolute;
    color: white;
    font-size: 20px;
    padding: 10px;
    background: black;
    border-radius: 50%;
    top: 95%;
    left: 50%;
    cursor: pointer;
  }
  .advance-navbar-container .advance-navbar .header strong {
    color: white;
  }
  .advance-navbar-container .advance-navbar .menu-list {
    display: flex;
    -moz-column-gap: 150px;
         column-gap: 150px;
  }
  .advance-navbar-container .advance-navbar .menu-list .list {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
  }
  .advance-navbar-container .advance-navbar .menu-list .list .list-header span {
    color: rgba(255, 255, 255, 0.7);
    font-size: 0.85rem;
  }
  .advance-navbar-container .advance-navbar .menu-list .list .links {
    display: flex;
    flex-direction: column;
    row-gap: 35px;
  }
  .advance-navbar-container .advance-navbar .menu-list .list .links .active {
    border-color: rgba(255, 255, 255, 0.6);
  }
  .advance-navbar-container .advance-navbar .menu-list .list .links a {
    width: -moz-fit-content;
    width: fit-content;
    color: white;
    font-weight: 600;
    font-size: 0.9rem;
    padding-bottom: 3px;
    border-bottom: 1px solid transparent;
    cursor: pointer;
    transition: 0.4s;
  }
  .advance-navbar-container .advance-navbar .menu-list .list .links a:hover {
    border-color: white;
  }
  .navbar-container {
    z-index: 11;
    position: fixed;
    width: 100vw;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 60px;
    background: black;
    font-family: "Lora", serif;
  }
  .navbar-container .navbar {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navbar-container .navbar .main {
    width: 40%;
    display: flex;
    align-items: center;
    -moz-column-gap: 50px;
         column-gap: 50px;
  }
  .navbar-container .navbar .main i {
    padding: 10px;
    border-radius: 50%;
    color: white;
    font-size: 22px;
  }
  .navbar-container .navbar .main a {
    padding: 5px 10px;
    border-radius: 20px;
    color: white;
    transition: 0.4s;
  }
  .navbar-container .navbar .main a:hover,
  .navbar-container .navbar .main i:hover {
    background: rgba(255, 255, 255, 0.2);
  }
  .navbar-container .navbar .logo {
    width: 20%;
    color: white;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    font-family: "Bodoni Moda", serif;
    font-weight: 400;
    letter-spacing: 2px;
    cursor: pointer;
  }
  .navbar-container .navbar .my-profile {
    width: 40%;
    display: flex;
    -moz-column-gap: 40px;
         column-gap: 40px;
    justify-content: end;
    align-items: center;
  }
  .navbar-container .navbar .my-profile .info {
    display: flex;
    align-items: center;
    padding: 8px 20px;
    -moz-column-gap: 15px;
         column-gap: 15px;
    background: white;
    border-radius: 15px;
    cursor: pointer;
  }
  .navbar-container .navbar .my-profile .info i {
    font-size: 28px;
    color: black;
  }
  .navbar-container .navbar .my-profile .info div {
    display: flex;
    flex-direction: column;
    color: black;
  }
  .navbar-container .navbar .my-profile .info div strong {
    font-size: 0.85rem;
  }
  .navbar-container .navbar .my-profile .info div p {
    font-size: 0.75rem;
  }
  .navbar-container .navbar .my-profile .bx-cart {
    cursor: pointer;
    color: white;
    font-size: 24px;
  }
  .navbar-container .navbar .my-profile .cart-quantity {
    position: relative;
  }
  .navbar-container .navbar .my-profile .cart-quantity .bxs-cart {
    cursor: pointer;
    color: white;
    font-size: 24px;
  }
  .navbar-container .navbar .my-profile .cart-quantity p {
    position: absolute;
    font-family: "Libre Baskerville", serif;
    font-size: 0.7rem;
    color: black;
    background: white;
    padding: 2px 6px;
    border-radius: 50%;
    top: -13px;
    left: 27px;
  }
  .navbar-container .navbar .auth {
    width: 40%;
    display: flex;
    -moz-column-gap: 40px;
         column-gap: 40px;
    justify-content: end;
  }
  .navbar-container .navbar .auth a {
    padding: 10px 30px;
    color: white;
    border-radius: 10px;
  }
  .navbar-container .navbar .auth a:nth-child(2) {
    background: white;
    color: black;
    font-weight: 600;
  }
  .dashnav-container {
    width: 250px;
    height: 100vh;
    max-height: 100vh;
    overflow-y: hidden;
    display: flex;
    padding: 35px 20px;
    background: #111926;
    font-family: "Afacad Flux", sans-serif;
  }
  .dashnav-container .dashnav {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .dashnav-container .dashnav .header {
    padding-bottom: 30px;
  }
  .dashnav-container .dashnav .header strong {
    color: white;
    font-size: 22px;
    font-weight: 500;
  }
  .dashnav-container .dashnav .item {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    margin-bottom: 15px;
  }
  .dashnav-container .dashnav .item strong {
    color: rgba(255, 255, 255, 0.6);
    font-weight: 300;
  }
  .dashnav-container .dashnav .item a {
    padding: 7px 15px;
    display: flex;
    -moz-column-gap: 15px;
         column-gap: 15px;
    align-items: center;
    color: white;
    transition: 0.4s;
    border-radius: 8px;
  }
  .dashnav-container .dashnav .item a i {
    font-size: 20px;
  }
  .dashnav-container .dashnav .item a p {
    font-size: 17px;
  }
  .dashnav-container .dashnav .item a:hover {
    background: #2e3035;
  }
  .dashnav-container .dashnav .item a.active {
    background: #343A46;
  }
  .setting-nav-container {
    position: fixed;
    width: 20%;
    height: 100vh;
    overflow-y: hidden;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    font-family: "Poppins", sans-serif;
  }
  .setting-nav-container .setting-nav {
    padding: 30px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }
  .setting-nav-container .setting-nav h2 {
    font-size: 1.4rem;
    font-weight: 700;
  }
  .setting-nav-container .setting-nav .list {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
  .setting-nav-container .setting-nav .list a {
    cursor: pointer;
    padding: 9px 12px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    -moz-column-gap: 15px;
         column-gap: 15px;
    transition: 0.4s;
  }
  .setting-nav-container .setting-nav .list a i {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.6);
  }
  .setting-nav-container .setting-nav .list a p {
    color: rgba(0, 0, 0, 0.6);
    font-size: 0.9rem;
  }
  .setting-nav-container .setting-nav .list .active {
    background: #d1d2d3;
  }
  .setting-nav-container .setting-nav .list .active i,
  .setting-nav-container .setting-nav .list .active p {
    color: black;
    font-weight: 600;
  }
  .setting-nav-container .setting-nav .list a:hover {
    background: #efeff0;
  }
  .setting-nav-container .setting-nav .list a:hover i,
  .setting-nav-container .setting-nav .list a:hover p {
    color: rgba(0, 0, 0, 0.8);
    font-weight: 500;
  }
}/*# sourceMappingURL=navbar.css.map */